<!DOCTYPE html>
<html>
<head>
  <title>DONATION TYPE</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

 body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslategray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: orangered;
}

.hidden
        {
            display:none;
            
        }
        .shown
        {
            display:block;

        }



</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="#home"></a>
  <a href="#news"></a>
  <a href="#contact"></a>
  <a href="#about"></a>
</div>


</style>
<style >

</style>
</head>

<script type="text/javascript">
      function showDiv (divId)
        {
          var div = document.getElementById (divId);
          var divs = document.getElementsByTagName('div');
          for (var i in divs) 
          {
            divs [i].className = "hidden";
          }
          div.className = "shown";
        }
    </script>
    <script>   
    function addition()
{
    a = Number(document.getElementById('Quantity1').value);
    b = Number(document.getElementById('Quantity2').value);
    c = Number(document.getElementById('Quantity3').value);
    d = Number(document.getElementById('Quantity4').value); 
    e = a + b + c + d;
    document.getElementById('TOTAL').value = e;
    f = Number(document.getElementById('Quantity5').value);
    g = Number(document.getElementById('Quantity6').value);
    h = Number(document.getElementById('Quantity7').value);
    i = Number(document.getElementById('Quantity8').value); 
    j = f + g + h + i;
    document.getElementById('TOTAL3').value = j;
}

    </script>
     <script>
            function calculateAmount(val) {
                var tot_price = val * 120;
                /*display the result*/
                var divobj = document.getElementById('tot_amount');
                divobj.value = tot_price;
                
                   var divobj = document.getElementById('tot_amount3');
                divobj.value = tot_price;
            }
            
        </script>
<body>
<form class="form" action="Call" method="POST">
    {% csrf_token %}

  <center>
  <h1 style="color: orangered; font-family:Sigmar One; font-size:55px;">Choose your Donation</h1>
  
  <input type="radio" onclick="showDiv ('1')" name="slt" id="salary" value="In-Kind Donation"> In-Kind Donation</input> &nbsp;&nbsp;
    <input type="radio" onclick="showDiv ('2')" name="slt" id="slry" value="Monetary Donation "> Monetary Donation</input>
&nbsp;&nbsp;
    <input type="radio" onclick="showDiv ('3')" name="slt" id="sltss" value="Both"> Both</input><br><br>
&nbsp;&nbsp;
    
    <div id="1" class="hidden"> 
    <input type="text" id="Food" name="Food" placeholder="Food Necessities:" style="width: 280px; height: 30px;">&nbsp;
    <input type="number" id="Quantity1" name="Quantity1" placeholder="Quantity:" onKeyUp="addition()" size="4">&nbsp;<br>
    <input type="text" id="Drinks" name="Drinks" placeholder="Beverages:" style="width: 280px; height: 30px;">&nbsp;
    <input type="number" id="Quantity2" name="Quantity2" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;<br>
    <input type="text" id="Sanitation" name="Sanitation" placeholder="Hygiene:" style="width: 280px; height: 30px;">&nbsp;
    <input type="number" id="Quantity3" name="Quantity3" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;<br>
    <input type="text" id="Cure" name="Cure" placeholder="Medicine:" style="width: 280px; height: 30px;">&nbsp;
    <input type="number" id="Quantity4" name="Quantity4" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;<br><br>
    Total: <input type="text" name="TOTAL" id="TOTAL" / style= size="4"><br><br>
    
    
    <input type="hidden" name="mode" value="PinRequest" />
    <label class="w3-text-green" style="font-family: Sigmar One" "font-size:17px;"><b>Pick-up</b></label>

     <select name="tot_pin_requested" onchange="calculateAmount(this.value)" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Metro Manila</option>
      <option value="2">Luzon</option>
      <option value="3">Visayas</option>
      <option value="4">Mindanao</option>
      <option value="5">Overseas</option>
       </select>

    <label style="font-family: Sigmar One" "font-size:17px;"><b>Charging Fee</b></label>
    <input class="w3-input w3-border" name="tot_amount" id="tot_amount" type="text" readonly style="width: 50px;  height: 30px;">

    
    
    
    </div><br>

    <div id="2" class="hidden"> 
    <input type="List" id="List" name="hold" placeholder="Specify your donation:" style="width: 280px; height: 30px;">&nbsp;
    <input type="text" id="Amount" name="Amount" placeholder="How much do you wish to donate:" style="width: 280px; height: 30px;"><br><br>&nbsp;
    <input type="text" id="Gcash" name="Gcash" placeholder="Gcash Account:" style="width: 280px; height: 30px;"><br><br>&nbsp;
    <input type="text" id="Bank" name="Bank" placeholder=" Bank Account: " style="width: 280px; height: 30px;"><br><br>&nbsp;
    <input type="text" id="Bills" name="Bills" placeholder="Billing address:" style="width: 280px; height: 30px;"><br><br>&nbsp;
    <input type="text" id="Place" name="Place" placeholder="Destination:" style="width: 280px; height: 30px;">&nbsp;
    </div><br>
  
   <div id="3" class="hidden"> 
    <input type="text" id="Food" name="Food" placeholder="Food Necessities:" style="width: 280px; height: 30px;">&nbsp;
    <input type="number" id="Quantity5" name="Quantity1" placeholder="Quantity:" onKeyUp="addition()" size="4">&nbsp;
    <input type="List" id="List" name="hold" placeholder="Specify your donation:" style="width: 280px; height: 30px;">&nbsp;<br>
    <input type="text" id="Drinks" name="Drinks" placeholder="Beverages:" style="width: 280px; height: 30px;">&nbsp;
    <input type="number" id="Quantity6" name="Quantity2" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;
    <input type="text" id="Amount" name="Amount" placeholder="How much do you wish to donate:" style="width: 280px; height: 30px;">&nbsp;<br>
    <input type="text" id="Sanitation" name="Sanitation" placeholder="Hygiene:" style="width: 280px; height: 30px;">&nbsp;
    <input type="number" id="Quantity7" name="Quantity3" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;
    <input type="text" id="Gcash" name="Gcash" placeholder="Gcash Account:" style="width: 280px; height: 30px;"><br>&nbsp;
    <input type="text" id="Cure" name="Cure" placeholder="Medicine:" style="width: 280px; height: 30px;">&nbsp;&nbsp;

    <input type="number" id="Quantity8" name="Quantity4" placeholder="Quantity" onKeyUp="addition()" size="4">
   
    <input type="text" id="Bank" name="Bank" placeholder=" Bank Account: " style="width: 280px; height: 30px;">&nbsp;<br>
    <input type="text" name="TOTAL3" id="TOTAL3"  style = "margin-left:310px; margin-top: 5px;" size="4" placeholder="Total">
    <input type="text" id="Bills" name="Bills" placeholder="Billing address:" style="width: 280px; height: 30px;">&nbsp;<br>
    <input type="text" id="Place" name="Place" placeholder="Destination:" style="width: 280px; margin-left:400px;height: 30px;">&nbsp;<br>
   
   
    
    
    <input type="hidden" name="mode" value="PinRequest" />
    <label class="w3-text-green" style="font-family: Sigmar One" "font-size:17px; margin-right: 10px;"><b>Pick-up</b></label>

     <select name="tot_pin_requested" onchange="calculateAmount(this.value)" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Metro Manila</option>
      <option value="2">Luzon</option>
      <option value="3">Visayas</option>
      <option value="4">Mindanao</option>
      <option value="5">Overseas</option>
       </select>


    <label style="font-family: Sigmar One" "font-size:17px;"><b>Charging Fee</b></label>
    <input class="w3-input w3-border" name="tot_amount" id="tot_amount3" type="text" readonly style="width: 50px;  height: 30px;">
  
    </div>
    <input type="Submit" id=done value="Proceed">
    </center>
  
    
 </form> 
</body>
</html>
