{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>DONATION TYPE</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

 body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslategray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.hidden
        {
            display:none;
            
        }
        .shown
        {
            display:block;

        }



</style>

<ul>
  <li><a class="active" href="#home"></a></li>
  <li><a href="#contact"></a></li>
  <li><a href="#about"></a></li>
</ul>

</style>

<div class="topnav">
  <a class="active" href="#home"></a>
  <a href="#news"></a>
  <a href="#contact"></a>
  <a href="#about"></a>
</div>


</style>
<style >

</style>
</head>

<script type="text/javascript">
      function showDiv (divId)
        {
          var div = document.getElementById (divId);
          var divs = document.getElementsByTagName('div');
          for (var i in divs) 
          {
            divs [i].className = "hidden";
          }
          div.className = "shown";
        }
    </script>
    <script>   
    function addition()
{
    a = Number(document.getElementById('Quantity1').value);
    b = Number(document.getElementById('Quantity2').value);
    c = Number(document.getElementById('Quantity3').value);
    d = Number(document.getElementById('Quantity4').value); 
    e = a + b + c + d;
    document.getElementById('TOTAL').value = e;
    f = Number(document.getElementById('Quantity5').value);
    g = Number(document.getElementById('Quantity6').value);
    h = Number(document.getElementById('Quantity7').value);
    i = Number(document.getElementById('Quantity8').value); 
    j = f + g + h + i;
    document.getElementById('TOTAL3').value = j;
}

    </script>
     <script>
            function calculateAmount(val) {
                var tot_price = val * 120;
                /*display the result*/
                var divobj = document.getElementById('tot_amount');
                divobj.value = tot_price;
                
                   var divobj = document.getElementById('tot_amount3');
                divobj.value = tot_price;
            }
            
        </script>
<body style="background: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url('{% static 'image/gifts.jpg' %}') no-repeat fixed; background-size: cover;">
 
 <form class ="form" action="success" method="POST">
  {% csrf_token %}

  <center>
  <h1 style="color: white; font-family:Sigmar One; font-size:55px;">Choose Type of Donation</h1>
  
  <select id="Donors" name="Donors">
     <option value="" disabled selected>Choose from Donations</option>
     <option value="1" id="selectkind" name="Gift" onclick="showDiv ('1')" >In-Kind Donation</option><br><br>
     <option value="2" id="selectmoney" name="Money" onclick="showDiv ('2')">Monetary Donation</option><br>
     <option value="3" id="selectboth" name="Paired" onclick="showDiv ('3')">Both Donation</option><br>
     
     </select><br>
    
    <div id="1" class="hidden"><br>
    <input type="text" id="Food" name="Food" placeholder="Food Necessities:" style="width: 280px; height: 25px;">&nbsp;
    <input type="text" id="Quantity1" name="Quantity1" placeholder="Quantity:" onKeyUp="addition()" size="4">&nbsp;<br>
    <input type="text" id="Drinks" name="Drinks" placeholder="Beverages:" style="width: 280px; height: 25px;">&nbsp;
    <input type="text-decoration" id="Quantity2" name="Quantity2" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;<br>
    <input type="text" id="Sanitation" name="Sanitation" placeholder="Hygiene:" style="width: 280px; height: 25px;">&nbsp;
    <input type="text" id="Quantity3" name="Quantity3" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;<br>
    <input type="text" id="Cure" name="Cure" placeholder="Medicine:" style="width: 280px; height: 25px;">&nbsp;
    <input type="text" id="Quantity4" name="Quantity4" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;<br><br>
    Total: <input type="text" name="TOTAL" id="TOTAL" / style="width: 80px;" style="width: 80px;" "font-color: white; font-family: Sigmar One; font-size:19px;"><br><br>
    
    
    <input type="hidden" name="mode" value="PinRequest" />
    <label class="w3-text-green" style="font-color: white; font-family: Sigmar One; font-size:19px;"><b>Pick-up</b></label>

     <select name="tot_pin_requested" onchange="calculateAmount(this.value)" required>
      <option value="" disabled selected>Choose your Location</option>
      <option value="1">Metro Manila</option>
      <option value="2">Luzon</option>
      <option value="3">Visayas</option>
      <option value="4">Mindanao</option>
      <option value="5">Overseas</option>
       </select>

    <label style="font-color: white; font-family: Sigmar One; font-size:19px;"><b>Charging Fee</b></label>
    <input class="w3-input w3-border" name="tot_amount" id="tot_amount" type="text" readonly style="width: 50px;  height: 30px;">
    
    
    </div><br>

    <div id="2" class="hidden"> 
    <input type="text" id="List" name="List" placeholder="Specify your donation:" style="width: 250px; height: 25px;">&nbsp;
    <input type="text" id="Amount" name="Amount" placeholder="How much do you wish to donate:" style="width: 260px; height: 25px;"><br><br>
    <input type="text" id="Gcash" name="Gcash" placeholder="Gcash Account:" style="width: 250px; height: 25px;">&nbsp;
    <input type="text" id="Bank" name="Bank" placeholder=" Bank Account: " style="width: 250px; height: 25px;">&nbsp;
    <input type="text" id="Bills" name="Bills" placeholder="Billing address:" style="width: 250px; height: 25px;"><br><br>&nbsp;
    <input type="text" id="Place" name="Place" placeholder="Destination:" style="width: 250px; height: 25px;">&nbsp;
    </div><br>
  
   <div id="3" class="hidden"> 
    <input type="text" id="Food1" name="Food1" placeholder="Food Necessities:" style="width: 250px; height: 25px;">&nbsp;
    <input type="text" id="Quantity5" name="Quantity5" placeholder="Quantity:" onKeyUp="addition()" size="4">&nbsp;
    <input type="text" id="Drinks1" name="Drinks1" placeholder="Beverages:" style="width: 250px; height: 25px;">&nbsp;
    <input type="text" id="Quantity6" name="Quantity6" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;<br>
    <input type="text" id="Sanitation1" name="Sanitation1" placeholder="Hygiene:" style="width: 250px; height: 25px;">&nbsp;
    <input type="text" id="Quantity7" name="Quantity7" placeholder="Quantity" onKeyUp="addition()" size="4">&nbsp;
    <input type="text" id="Cure" name="Cure" placeholder="Medicine:" style="width: 250px; height: 25px;">&nbsp;&nbsp;
    <input type="text" id="Quantity8" name="Quantity8" placeholder="Quantity" onKeyUp="addition()" size="4"><br><br>
    <input type="text" id="List1" name="List1" placeholder="Specify your donation:" style="width: 280px; height: 25px;">&nbsp;
    <input type="text" id="Amount1" name="Amount1" placeholder="How much do you wish to donate:" style="width: 280px; height: 25px;">&nbsp;<br><br>
    <input type="text" id="Gcash1" name="Gcash1" placeholder="Gcash Account:" style="width: 280px; height: 25px;">&nbsp;
    <input type="text" id="Bank1" name="Bank1" placeholder=" Bank Account: " style="width: 280px; height: 25px;">&nbsp;
    
    <input type="text" id="Bills1" name="Bills1" placeholder="Billing address:" style="width: 280px; height: 25px;">&nbsp;<br><br>
    <input type="text" id="Place1" name="Place" placeholder="Destination:" style="width: 280px; margin-left:5px;height: 25px;">&nbsp;<br>
   
   
     Total: <input type="text" name="TOTAL3" id="TOTAL3" / style="width: 80px;" "font-color: white; font-family: Sigmar One; font-size:19px;">
    
    <input type="hidden" name="mode" value="PinRequest" />
    <label class="w3-text-green"style="color:black; font-family:Sigmar One; font-size:19px; margin-right: 10px;"><b>Pick-up</b></label>

     <select name="tot_pin_requested" onchange="calculateAmount(this.value)" required>
      <option value="" disabled selected>Choose your Location</option>
      <option value="1">Metro Manila</option>
      <option value="2">Luzon</option>
      <option value="3">Visayas</option>
      <option value="4">Mindanao</option>
      <option value="5">Overseas</option>
       </select>


    <label style="font-color: white; font-family: Sigmar One; font-size:19px;"><b>Charging Fee</b></label>
    <input class="w3-input w3-border" name="tot_amount" id="tot_amount3" type="text" readonly style="width: 50px;  height: 30px;">
   
    </div>
    
   <button type="submit">Proceed</button>
   </center>
  
    
 </form> 
</body>
</html>