<html>
 <head>
<title>DONOR</title>
 </head>
 <style>
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
</style>
<body style="background-color:hsla(89, 43%, 51%, 0.3);">
<center><h1 style="color:white; font-family:Sigmar One; font-size:40px;">Hello, Donor!</h1></center>

<form class ="form" action="" method="post">
	{% csrf_token %}


	<center>
	

  <label for="Choices">Type of Donation</label><br><br>
  <select name="Letter" id="Letter">
    <option value=""></option>
    <option name="picks" value="Money">Monetary Donation</option>
    <option name="picks" value="Gifts">In-Kind Donation</option><table style="width:50%">
    </select><br><br><br>

    <label for="Notes">Purpose for Donating:</label><br>
    <textarea id="Message" name="Message" placeholder="Specify your instructions"rows="4" cols="50">

  
  </textarea>
    <br><br>
  	<input type="submit" name="submit" id="submit" value="Confirm">




</center>
</form>
	
</body>
</html>
