<html>
 <head>
<title>MONEY TRANSACTION</title>
 </head>
<body style="background-color:#FFDEAD;">
<center><h1 style="color:tomato; font-size:30px;">MONEY TRANSACTION</h1></center>
<center><h1 style="color:black; font-style:oblique; font-size:17px;" id="me" >A Bayanihan for the Underprivileged!</h1><br><br></center>

<form class ="form" action="" method="post">
	{% csrf_token %}


	<center>

	<p style="font-style:oblique;">Where do you want to send your donation?</p>
	
	<input bold type="text" id="Place" name="Place" placeholder="Destination" size="19"><br><br>
	
	<input bold type="text" id="Fee" name="Fee" placeholder="Charging Fee:" size="19"><br><br>
	
	<input type="submit" name="submit" id="submit" value="Proceed">

</center>
</form>
	
</body>
</html>
