<html>
 <head>
<title>MONETARY DONATION</title>
 </head>
<body style="background-color:#FFDEAD;">
<center><h1 style="color:tomato; font-size:30px;">MONETARY DONATION</h1></center>
<center><h1 style="color:black; font-style:oblique; font-size:17px;" id="me" >Give today, Get tomorrow!</h1><br><br></center>

<form class ="form" action="" method="post">
	{% csrf_token %}


	<center>
	
	<input bold type="text" id="List" name="List" placeholder="Specify your Donation" size="23"><br><br>

	<input bold type="text" id="Amount" name="Amount" placeholder="How much do you wish to donate?" size="23"><br><br>

	
	<input bold type="text" id="Gcash" name="Gcash" placeholder="Gcash Account" size="23">
	<br><br>
	
	<input bold type="text" id="Bank" name="Bank" placeholder="Bank Account" size="23"><br><br>

	
	<input bold type="text" id="Bills" name="Bills" placeholder="Billing Address" size="23">
	<br><br>
	
	
	<input type="submit" name="submit" id="submit" value="Donate">
</center>
</form>
	
</body>
</html>
